#!/usr/bin/make -f

ROOT = $(CURDIR)/debian/nmsxtiles

override_dh_auto_configure:

override_dh_auto_clean:
	$(RM) -r lib
	$(RM) lib *.res nMSXtiles

override_dh_auto_install:
	install -d -m 755 $(ROOT)/usr/bin
	install -s -m 755 ./bin/nMSXtiles $(ROOT)/usr/bin
	install -d -m 755 $(ROOT)/usr/share/applications
	install -m 644 nMSXtiles.desktop $(ROOT)/usr/share/applications
	install -d -m 755 $(ROOT)/usr/share/pixmaps
	install -m 644 nMSXtiles.png $(ROOT)/usr/share/pixmaps
%:
	dh $@
